<a href="https://colab.research.google.com/github/samsoe/mpg_biomass/blob/master/horizontal_cover_robel_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description

## Documentation
* [Readme vegetation biomass](https://docs.google.com/document/d/1AF8qh7YRqEJ_5DjX0GrA3Z52RfGp2f22Jc2uLonGa2I/edit#heading=h.4py25fcybipz)

## Schema

* grid_point: INT
* date: DATETIME
* year: DATE ("yyyy")
* season: STRING ("spring", "fall")
* robel_avg: INT

# Load Tools

In [0]:
import pandas as pd

# Data Source

## 2019

In [0]:
# '2019 Biomass Data.xlsx'
# url = 'https://drive.google.com/open?id=1dd5F8R-mD6l7H2morac1r9ongf80xpff'
src_2019 = 'https://drive.google.com/uc?id=1dd5F8R-mD6l7H2morac1r9ongf80xpff'
sheet_2019 = 'All Data - redone'

## 2018

In [0]:
# 'MPG vegetation biomass 2010-1018.xlsx'
# url = 'https://drive.google.com/open?id=1a9Kzg6DF8c4KEkCzBVFaBOjzW5zp2B0L'
src_2018 = 'https://drive.google.com/uc?id=1a9Kzg6DF8c4KEkCzBVFaBOjzW5zp2B0L'
sheet_2018_spring = '2018 Spring'
sheet_2018_fall = '2018 Fall'

## 2017

In [0]:
# 'MPG vegetation biomass 2010-1018.xlsx'
# url = 'https://drive.google.com/open?id=1a9Kzg6DF8c4KEkCzBVFaBOjzW5zp2B0L'
src_2017 = 'https://drive.google.com/uc?id=1a9Kzg6DF8c4KEkCzBVFaBOjzW5zp2B0L'
sheet_2017_spring = '2017 Spring'
sheet_2017_fall = '2017 Fall'

# Wrangle Data

## 2019

In [0]:
df_2019 = pd.read_excel(src_2019, sheet_name=sheet_2019)

In [119]:
df_2019.head(2)

   Plot       Date  Robel Reading  ...  Robel  Unnamed: 15  Unnamed: 16
0     9 2019-09-24            4.0  ...    8.0          NaN        23.44
1    10 2019-09-24            6.0  ...    4.0          NaN        93.76

[2 rows x 17 columns]

In [120]:
df_2019.columns

Index(['Plot', 'Date', 'Robel Reading', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', '   Biomass Weight (g-spring)(pennyweight for fall) ',
       'Unnamed: 7', 'Unnamed: 8', 'Deer', 'Elk', 'Horse', 'Biomass',
       'Unnamed: 13', 'Robel', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [0]:
# slice to pertinent columns
df_2019 = df_2019.loc[:, ['Plot', 'Date', 'Robel']]

In [122]:
df_2019.head(2)

   Plot       Date  Robel
0     9 2019-09-24    8.0
1    10 2019-09-24    4.0

In [0]:
# standarize column names
df_2019.columns = ['grid_point', 'date', 'robel_avg']

In [124]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   grid_point  347 non-null    int64
 1   date        325 non-null    datetime64[ns]
 2   robel_avg   319 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 8.3 KB

In [126]:
# date is missing in this row
# the row is in the midst of a consistent stream of 9/24/2019
df_2019.loc[(df_2019.date.isna()) & (~df_2019.robel_avg.isna())]

     grid_point date  robel_avg
102         197  NaT       14.0

In [0]:
df_2019.loc[(df_2019.date.isna()) & (~df_2019.robel_avg.isna()), 'date'] = pd.Timestamp('2019-09-24')

In [128]:
df_2019.iloc[102]

grid_point                    197
date          2019-09-24 00:00:00
robel_avg                      14
Name: 102, dtype: object

In [0]:
# set seasons
## spring
df_2019.loc[(df_2019.date < '2019-06'), 'season'] = 'spring'

## fall
df_2019.loc[(df_2019.date > '2019-06'), 'season'] = 'fall'

In [0]:
# set year
df_2019['year'] = 2019

In [0]:
# order columns
df_2019 = df_2019[['grid_point', 'date', 'year', 'season', 'robel_avg']]

In [133]:
df_2019.head(2)

   grid_point       date  year season  robel_avg
0           9 2019-09-24  2019   fall        8.0
1          10 2019-09-24  2019   fall        4.0

## 2018

### Spring

In [0]:
df_2018_spring = pd.read_excel(src_2018, sheet_name=sheet_2018_spring, skiprows=1)

In [144]:
df_2018_spring.head(2)

   Plot       Date    N    E  ...  Unnamed: 22  Unnamed: 23 Unnamed: 24 Unnamed: 25
0     3 2018-04-10  2.0  4.0  ...          NaN          NaN         NaN
1     4 2018-04-10  2.0  2.0  ...          NaN          NaN         NaN         NaN

[2 rows x 26 columns]

In [0]:
# keep these columns
df_2018_spring = df_2018_spring.loc[:, ['Plot', 'Date', 'N', 'E', 'S', 'W']]

In [147]:
df_2018_spring.head(2)

   Plot       Date    N    E    S    W
0     3 2018-04-10  2.0  4.0  2.0  2.0
1     4 2018-04-10  2.0  2.0  4.0  2.0

### Fall

In [0]:
df_2018_fall = pd.read_excel(src_2018, sheet_name=sheet_2018_fall, skiprows=1)

In [0]:
df_2018_fall = df_2018_fall.loc[:, ['Plot', 'Date', 'N', 'E', 'S', 'W']]

In [153]:
df_2018_fall.head(2)

   Plot       Date   N  E  S  W
0    70 2018-10-15  14  7  8  3
1    71 2018-10-15   1  1  1  2

### Full Year

In [0]:
df_2018 = pd.concat([df_2018_spring, df_2018_fall], ignore_index=True, sort=False)

In [0]:
# average measurement columns
df_2018['robel_avg'] = df_2018.loc[:, ['N', 'E', 'S', 'W']].mean(axis=1)

In [0]:
# slice to keep pertinent columns
df_2018 = df_2018.loc[:, ['Plot', 'Date', 'robel_avg']]

In [0]:
# standardize column names
df_2018.columns = ['grid_point', 'date', 'robel_avg']

In [0]:
# set column 'year' value
df_2018['year'] = 2018

In [0]:
# set column 'season'
## spring
df_2018.loc[(df_2018.date < '2018-06'), 'season'] = 'spring'

## fall
df_2018.loc[(df_2018.date > '2018-06'), 'season'] = 'fall'

In [0]:
# order columns
df_2018 = df_2018[['grid_point', 'date', 'year', 'season', 'robel_avg']]

In [176]:
df_2018.head(2)

   grid_point       date  year  season  robel_avg
0           3 2018-04-10  2018  spring        3.0
1           4 2018-04-10  2018  spring        2.0

## 2017

### Spring

In [0]:
df_2017_spring = pd.read_excel(src_2017, sheet_name = sheet_2017_spring, skiprows=1)

In [0]:
df_2017_spring = df_2017_spring.loc[:, ['Plot', 'Date', 'N', 'E', 'S', 'W']]

In [185]:
df_2017_spring.head(2)

   Plot       Date    N    E    S     W
0     2 2017-04-05  2.0  1.0  1.0   1.0
1     3 2017-04-05  2.0  3.0  2.0  16.0

### Fall

In [0]:
df_2017_fall = pd.read_excel(src_2017, sheet_name = sheet_2017_fall, skiprows=1)

In [0]:
df_2017_fall= df_2017_fall.loc[:, ['Plot', 'Date', 'N', 'E', 'S', 'W']]

In [188]:
df_2017_fall.head(2)

   Plot       Date    N    E    S    W
0     3 2017-10-09  4.0  2.0  2.0  2.0
1     4 2017-10-09  6.0  3.0  2.0  4.0

### Full Year

In [0]:
# combine spring and fall dataframes
df_2017 = pd.concat([df_2017_spring, df_2017_fall], ignore_index=True, sort=False)

In [212]:
df_2017.head(2)

   Plot       Date    N    E    S     W
0     2 2017-04-05  2.0  1.0  1.0   1.0
1     3 2017-04-05  2.0  3.0  2.0  16.0

In [0]:
# remove nulls
df_2017 = df_2017.loc[~df_2017.Date.isnull()]

In [0]:
# set 'year' column
df_2017['year'] = 2017

In [0]:
# set 'season' column

## spring
df_2017.loc[df_2017.Date < '2017-06', 'season'] = 'spring'
## fall
df_2017.loc[df_2017.Date > '2017-06', 'season'] = 'fall'

In [0]:
# average measurement columns
df_2017['robel_avg'] = df_2017.loc[:, ['N', 'E', 'S', 'W']].mean(axis=1)

In [0]:
df_2017 = df_2017[['Plot', 'Date', 'year', 'season', 'robel_avg']]

In [0]:
# rename columns to standard
df_2017.columns = ['grid_point', 'date', 'year', 'season', 'robel_avg']

In [221]:
df_2017.head(2)

   grid_point       date  year  season  robel_avg
0           2 2017-04-05  2017  spring       1.25
1           3 2017-04-05  2017  spring       5.75

# Concatenate all Years

In [0]:
df_2017_2019 = pd.concat([df_2019, df_2018, df_2017], ignore_index=True, sort=False)

In [224]:
df_2017_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   grid_point  755 non-null    int64
 1   date        733 non-null    datetime64[ns]
 2   year        755 non-null    int64
 3   season      733 non-null    object
 4   robel_avg   725 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 29.6+ KB

In [0]:
# remove rows with null 'date'
df_2017_2019 = df_2017_2019.loc[~df_2017_2019['date'].isnull()]

In [0]:
# remove rows with null'robel_avg'
df_2017_2019 = df_2017_2019.loc[~df_2017_2019['robel_avg'].isnull()]

In [231]:
df_2017_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725 entries, 0 to 754
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   grid_point  725 non-null    int64
 1   date        725 non-null    datetime64[ns]
 2   year        725 non-null    int64
 3   season      725 non-null    object
 4   robel_avg   725 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 34.0+ KB

# Push to BigQuery

In [232]:
df_2017_2019.to_gbq('vegetation_biomass.horizontal_cover_robel', 'mpg-data-warehouse', if_exists='replace')

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=725825577420-unm2gnkiprugilg743tkbig250f4sfsj.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=dtPcRQaLWGjDAKk1S185zxBPSNlJOy&prompt=consent&access_type=offline
Enter the authorization code: 4/ywEftgQh1id3boduHg0dY9liKbos39TBrcbTENpAgiRoCxFtZv2Y_p8

1it [00:04,  4.21s/it]