<a href="https://colab.research.google.com/github/samsoe/mpg_biomass/blob/master/point_location_position_wrangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Documentation:  [Readme grid point metadata](https://docs.google.com/document/d/1dQf3WIp2JaOTFKFo8eOj-J6tFByUA22cu_VyTbeGPa8/edit?usp=sharing)

# Tools

In [0]:
library(tidyverse)

# Source

In [0]:
# 2020-0227_GIS_grid-point-metadata.csv
src = "https://drive.google.com/uc?id=16Xy28cDLE3P_j8Qwd9_uuNCsAwLKekdG"
df = read_csv(src)

In [4]:
spec(df)

cols(
  name = col_double(),
  lat = col_double(),
  long = col_double(),
  aspct_mean = col_double(),
  aspct_std = col_double(),
  elev_mean = col_double(),
  elev_std = col_double(),
  slp_mean = col_double(),
  slp_std = col_double(),
  apr_mean = col_double(),
  apr_std = col_double(),
  aug_mean = col_double(),
  aug_std = col_double(),
  dec_mean = col_double(),
  dec_std = col_double(),
  feb_mean = col_double(),
  feb_std = col_double(),
  jan_mean = col_double(),
  jan_std = col_double(),
  jul_mean = col_double(),
  jul_std = col_double(),
  jun_mean = col_double(),
  jun_std = col_double(),
  mar_mean = col_double(),
  mar_std = col_double(),
  may_mean = col_double(),
  may_std = col_double(),
  nov_mean = col_double(),
  nov_std = col_double(),
  oct_mean = col_double(),
  oct_std = col_double(),
  sep_mean = col_double(),
  sep_std = col_double()
)

# Structure Tables

## point_location_position

In [0]:
# select columns as specified in README
plp <- df %>%
  select(name, lat, long, aspct_mean, aspct_std, elev_mean, elev_std, slp_mean, slp_std)

In [0]:
# update column names to schema specified in README
names(plp) <- c("grid_point", "lat", "long", "aspect_mean_deg", "aspect_std_deg", "elevation_mean_m", "elevation_std_m", "slope_mean_deg", "slope_std_deg")

In [0]:
# convert double datatype to integer
plp$grid_point <- as.integer(plp$grid_point)

## insolation

In [70]:
# select columns as specified in README
ins <- df %>%
  select(1, 10:33)

str(ins)

tibble [582 × 25] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ name    : num [1:582] 1 2 3 4 5 6 7 8 9 10 ...
 $ apr_mean: num [1:582] 91861 125600 137630 133712 133260 ...
 $ apr_std : num [1:582] 2611 4366 1115 1473 929 ...
 $ aug_mean: num [1:582] 109567 144867 156306 152670 152193 ...
 $ aug_std : num [1:582] 2867 4432 1054 1428 892 ...
 $ dec_mean: num [1:582] 6423 12465 17150 15415 15335 ...
 $ dec_std : num [1:582] 58.6 1349.3 474.1 571.9 380.2 ...
 $ feb_mean: num [1:582] 17710 34244 43032 39878 39693 ...
 $ feb_std : num [1:582] 890 2630 857 1046 689 ...
 $ jan_mean: num [1:582] 8433 17239 23166 20989 20878 ...
 $ jan_std : num [1:582] 146 1721 593 717 476 ...
 $ jul_mean: num [1:582] 147773 181743 189349 187199 186723 ...
 $ jul_std : num [1:582] 3273 3919 697 1057 632 ...
 $ jun_mean: num [1:582] 152536 184737 190903 189285 188791 ...
 $ jun_std : num [1:582] 3269 3604 565 905 535 ...
 $ mar_mean: num [1:582] 50076 78923 91920 87441 87131 ...
 $ mar_std : num [1:582] 1743 4154 1236 1548 1004 ...
 $ may_mean: num [1:582] 138431 172929 181633 179069 178596 ...
 $ may_std : num [1:582] 3206 4081 796 1162 704 ...
 $ nov_mean: num [1:582] 9693 20138 26664 24281 24155 ...
 $ nov_std : num [1:582] 250 1907 649 786 520 ...
 $ oct_mean: num [1:582] 25417 46159 56720 52962 52728 ...
 $ oct_std : num [1:582] 1163 3208 1022 1255 825 ...
 $ sep_mean: num [1:582] 61965 93149 106443 101922 101574 ...
 $ sep_std : num [1:582] 2034 4357 1255 1590 1022 ...
 - attr(*, "spec")=
  .. cols(
  ..   name = col_double(),
  ..   lat = col_double(),
  ..   long = col_double(),
  ..   aspct_mean = col_double(),
  ..   aspct_std = col_double(),
  ..   elev_mean = col_double(),
  ..   elev_std = col_double(),
  ..   slp_mean = col_double(),
  ..   slp_std = col_double(),
  ..   apr_mean = col_double(),
  ..   apr_std = col_double(),
  ..   aug_mean = col_double(),
  ..   aug_std = col_double(),
  ..   dec_mean = col_double(),
  ..   dec_std = col_double(),
  ..   feb_mean = col_double(),
  ..   feb_std = col_double(),
  ..   jan_mean = col_double(),
  ..   jan_std = col_double(),
  ..   jul_mean = col_double(),
  ..   jul_std = col_double(),
  ..   jun_mean = col_double(),
  ..   jun_std = col_double(),
  ..   mar_mean = col_double(),
  ..   mar_std = col_double(),
  ..   may_mean = col_double(),
  ..   may_std = col_double(),
  ..   nov_mean = col_double(),
  ..   nov_std = col_double(),
  ..   oct_mean = col_double(),
  ..   oct_std = col_double(),
  ..   sep_mean = col_double(),
  ..   sep_std = col_double()
  .. )

In [0]:
# update column names to schema specified in README
names(ins) <- c('grid_point', 'insol_apr_mean', 'insol_apr_std', 'insol_aug_mean', 'insol_aug_std', 'insol_dec_mean',
  'insol_dec_std', 'insol_feb_mean', 'insol_feb_std', 'insol_jan_mean', 'insol_jan_std', 'insol_jul_mean', 
  'insol_jul_std', 'insol_jun_mean', 'insol_jun_std', 'insol_mar_mean', 'insol_mar_std', 'insol_may_mean', 
  'insol_may_std', 'insol_nov_mean', 'insol_nov_std', 'insol_oct_mean', 'insol_oct_std', 'insol_sep_mean', 
  'insol_sep_std')

# Explore

## point_location_position

In [57]:
# look for NAs
plp %>%
  select_if(function(x) any(is.na(x))) %>%
  summarise_each(funs(sum(is.na(.))))
# no NAs present

1

In [64]:
str(plp)

tibble [582 × 9] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ grid_point      : int [1:582] 1 2 3 4 5 6 7 8 9 10 ...
 $ lat             : num [1:582] 46.7 46.7 46.7 46.7 46.7 ...
 $ long            : num [1:582] -114 -114 -114 -114 -114 ...
 $ aspect_mean_deg : num [1:582] 334.7 45.3 221.3 290.5 288.3 ...
 $ aspect_std_deg  : num [1:582] 1.43 7.82 5.64 27.22 12.13 ...
 $ elevation_mean_m: num [1:582] 1396 1456 1127 1166 1180 ...
 $ elevation_std_m : num [1:582] 4.416 2.109 0.7 0.471 0.806 ...
 $ slope_mean_deg  : num [1:582] 28.44 12.23 4.25 2.68 4.26 ...
 $ slope_std_deg   : num [1:582] 1.205 2.504 0.472 0.64 0.883 ...
 - attr(*, "spec")=
  .. cols(
  ..   name = col_double(),
  ..   lat = col_double(),
  ..   long = col_double(),
  ..   aspct_mean = col_double(),
  ..   aspct_std = col_double(),
  ..   elev_mean = col_double(),
  ..   elev_std = col_double(),
  ..   slp_mean = col_double(),
  ..   slp_std = col_double(),
  ..   apr_mean = col_double(),
  ..   apr_std = col_double(),
  ..   aug_mean = col_double(),
  ..   aug_std = col_double(),
  ..   dec_mean = col_double(),
  ..   dec_std = col_double(),
  ..   feb_mean = col_double(),
  ..   feb_std = col_double(),
  ..   jan_mean = col_double(),
  ..   jan_std = col_double(),
  ..   jul_mean = col_double(),
  ..   jul_std = col_double(),
  ..   jun_mean = col_double(),
  ..   jun_std = col_double(),
  ..   mar_mean = col_double(),
  ..   mar_std = col_double(),
  ..   may_mean = col_double(),
  ..   may_std = col_double(),
  ..   nov_mean = col_double(),
  ..   nov_std = col_double(),
  ..   oct_mean = col_double(),
  ..   oct_std = col_double(),
  ..   sep_mean = col_double(),
  ..   sep_std = col_double()
  .. )

## insolation

In [80]:
# look for NAs
ins %>%
  select_if(function(x) any(is.na(x))) %>%
  summarise_each(funs(sum(is.na(.))))
# no NAs present

1

In [86]:
# another option for NA search
ins[!complete.cases(ins),]

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”
Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     grid_point insol_apr_mean insol_apr_std insol_aug_mean insol_aug_std
     insol_dec_mean insol_dec_std insol_feb_mean insol_feb_std insol_jan_mean ⋯
     insol_mar_mean insol_mar_std insol_may_mean insol_may_std insol_nov_mean
     insol_nov_std insol_oct_mean insol_oct_std insol_sep_mean insol_sep_std

In [81]:
str(ins)

tibble [582 × 25] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ grid_point    : num [1:582] 1 2 3 4 5 6 7 8 9 10 ...
 $ insol_apr_mean: num [1:582] 91861 125600 137630 133712 133260 ...
 $ insol_apr_std : num [1:582] 2611 4366 1115 1473 929 ...
 $ insol_aug_mean: num [1:582] 109567 144867 156306 152670 152193 ...
 $ insol_aug_std : num [1:582] 2867 4432 1054 1428 892 ...
 $ insol_dec_mean: num [1:582] 6423 12465 17150 15415 15335 ...
 $ insol_dec_std : num [1:582] 58.6 1349.3 474.1 571.9 380.2 ...
 $ insol_feb_mean: num [1:582] 17710 34244 43032 39878 39693 ...
 $ insol_feb_std : num [1:582] 890 2630 857 1046 689 ...
 $ insol_jan_mean: num [1:582] 8433 17239 23166 20989 20878 ...
 $ insol_jan_std : num [1:582] 146 1721 593 717 476 ...
 $ insol_jul_mean: num [1:582] 147773 181743 189349 187199 186723 ...
 $ insol_jul_std : num [1:582] 3273 3919 697 1057 632 ...
 $ insol_jun_mean: num [1:582] 152536 184737 190903 189285 188791 ...
 $ insol_jun_std : num [1:582] 3269 3604 565 905 535 ...
 $ insol_mar_mean: num [1:582] 50076 78923 91920 87441 87131 ...
 $ insol_mar_std : num [1:582] 1743 4154 1236 1548 1004 ...
 $ insol_may_mean: num [1:582] 138431 172929 181633 179069 178596 ...
 $ insol_may_std : num [1:582] 3206 4081 796 1162 704 ...
 $ insol_nov_mean: num [1:582] 9693 20138 26664 24281 24155 ...
 $ insol_nov_std : num [1:582] 250 1907 649 786 520 ...
 $ insol_oct_mean: num [1:582] 25417 46159 56720 52962 52728 ...
 $ insol_oct_std : num [1:582] 1163 3208 1022 1255 825 ...
 $ insol_sep_mean: num [1:582] 61965 93149 106443 101922 101574 ...
 $ insol_sep_std : num [1:582] 2034 4357 1255 1590 1022 ...
 - attr(*, "spec")=
  .. cols(
  ..   name = col_double(),
  ..   lat = col_double(),
  ..   long = col_double(),
  ..   aspct_mean = col_double(),
  ..   aspct_std = col_double(),
  ..   elev_mean = col_double(),
  ..   elev_std = col_double(),
  ..   slp_mean = col_double(),
  ..   slp_std = col_double(),
  ..   apr_mean = col_double(),
  ..   apr_std = col_double(),
  ..   aug_mean = col_double(),
  ..   aug_std = col_double(),
  ..   dec_mean = col_double(),
  ..   dec_std = col_double(),
  ..   feb_mean = col_double(),
  ..   feb_std = col_double(),
  ..   jan_mean = col_double(),
  ..   jan_std = col_double(),
  ..   jul_mean = col_double(),
  ..   jul_std = col_double(),
  ..   jun_mean = col_double(),
  ..   jun_std = col_double(),
  ..   mar_mean = col_double(),
  ..   mar_std = col_double(),
  ..   may_mean = col_double(),
  ..   may_std = col_double(),
  ..   nov_mean = col_double(),
  ..   nov_std = col_double(),
  ..   oct_mean = col_double(),
  ..   oct_std = col_double(),
  ..   sep_mean = col_double(),
  ..   sep_std = col_double()
  .. )

# Output

## point_location_position

In [0]:
# output uploaded to Google Drive and pushed to BigQuery 2020-05-21
write_csv(plp, path = "point_location_position.csv")

## insolation

In [0]:
# output uploaded to Google Drive and pushed to BigQuery 2020-05-21
write_csv(ins, path = "insolation.csv")